* { margin: 0; padding: 0; }
body, .cvs { position: fixed; }
body {
    position: fixed;
    height: 100%;
    background: yellow;
}

#controller {
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #1a1a1a;
}
#controller #ctrl, .ctrl-sign {
    z-index: 20;
    float: left;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);
}

.ctrl-sign {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}
#ctrl-top {
    border-top-left-radius: 100%;
}
#ctrl-right {
    border-top-right-radius: 100%;
}
#ctrl-left {
    border-bottom-left-radius: 100%;
}
#ctrl-bottom {
    border-bottom-right-radius: 100%;
}

.ctrl-btn {
    float: left;
    width: 56px;
    margin: 1px;
    height: 60px;
    border: 1px solid #AAA;
    background: rgba(255, 254, 173, .5);
}

#launcher {
    float: right;
    margin-top: 55px;
    margin-right: 20px;
    border-radius: 50%;
    background: rgba(255, 57, 57, 0.5);
    color: white;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: center;
    height: 70px;
    width: 70px;
}
